.gallery_page{
  width: 80%;
  max-width: 1920px;
  margin: 0 auto;
  margin-top: 20rem;
  margin-bottom: 15rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 8.5rem;
  grid-row-gap: 8.5rem;
    &__single{
      width: 45.5rem;
      height: 32.6rem;
        &--image{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
    }
}

@media screen and (max-width: $mobile) { 
  .gallery_page{
    width: 95%;
    margin-top: 10rem;
    margin-bottom: 5rem;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 6rem;
    grid-row-gap: 5rem;
      &__single{
        height: 30rem;
        width: 100%;
      }
  }
}

@media screen and (max-width: $phone) { 
  .gallery_page{
    width: 95%;
    grid-template-columns: repeat(1, 1fr);
      &__single{
        width: 100%;
        height: 40rem;
      }
  }
}


