.site_banner{
  &--title{
    font-size: 8.3rem !important;
  }
}
.single_room{
  width: 80%;
  max-width: 3500px;
  margin: 0 auto;
  margin-bottom: 15rem;
    &__header{
      @include flexLine;
      align-items: center;
      margin-top: 5rem;
      margin-bottom: -3rem;
        &--title{
          @include fontStyle($primaryColor, 6.6rem, 400, left);
        }
    }
    &__price-label{
      @include center;
      position: relative;
      top: 4rem;
      left: 7rem;
      width: 23rem;
      height: 20rem;
      padding: 2rem;
      background-color: #ada8b6;
      float: right;
        &--price{
          @include fontStyle(#fff, 5rem, 700, center);
            span{
              @include fontStyle(#fff, 7rem, 700, center);
            }
        }
    }
    &__gallery{
      width: 100%;
        &__preview{
          @include center;
        }
        &__single-main{
            width: 100%;
            height: 70rem;
            display: block;
        }
        &__single{
            width: 14rem;
            height: 8rem;
            display: inline-flex;
            margin: 2.4rem 1.8rem;
            &--image{
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
        }
    }
    &__amenities{
      width: 120rem;
      margin: 0 auto;
      margin-top: 9rem;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-column-gap: 0rem;
      grid-row-gap: 3rem;
        .amenities_single{
          @include center;
          flex-direction: column;
            &__info{
              margin-left: 2.5rem;
                &--title{
                  @include fontStyle($buttonColor, 2.5rem, 700, center);
                }
                &--text{
                  @include fontStyle($primaryColor, 1.8rem, 700, center);
                  margin-top: 5px;
                }
            }
        }
    }
    
    &__description{
      width: 120rem;
      margin: 0 auto;
      margin-top: 10rem;
        &--title{
          @include fontStyle($primaryColor, 4.3rem, 700, left);
          margin-bottom: 3rem;
        }
        .wyswig{
          color: $primaryColor;
          padding: 0 2rem;
        }
    }
    &__buttons{
      @include flexLine;
      align-items: center;
      width: 90rem;
      margin: 0 auto;
      margin-top: 10rem;
        &--single{
          @include button-big;
          width: 32rem;
        }
    }
}


@import './rwd/rwd_template_single_room';